<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>riceCAD</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

    <!-- "paths are handled by server, no changes" -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-caret-js@1.0.1/dist/VanillaCaret.min.js"></script>
    <script src="/playcanvas.js" defer></script>
    <script src="/axios.js" defer></script>
    <script src="/materials.js" defer></script>
    <script src="/riceCAD.js" defer></script>

    <!-- new font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>
<body>
<div id="BANNER_TO_REFACTOR">
    <h1>riceCAD online <span id="versionNumber">v{{toolVersion}}</span></h1>
</div>

{{{body}}}

</body>
</html>
