<body>

    <div class="about-container">
        <h1 id="about-title"> About riceCad</h1>
        <p></p>
        <p class="about">
            riceCAD online is a lightweight, computer assisted design tool for minecraft robots.
            You will be able to design a 3d structure on the website by inputting data into a 3d array,
            which will be visible by a playcanvas window. This design can then be exported into minecraft,
            which will be built by robots in the PC version of Minecraft.
        </p>

        <h4 id="authors"> The authors:</h4>

        <div class="about">
            <p>Trenton Young</p>
            <p> Hla Htun</p>
            <p>Cameron Kroeker</p>
            <p>Elisay Kuznetsov</p>
        </div>
    </div>

</body>