<body>

    <h1 id="tut-title"> About riceCAD</h1>
    <div class="about-container">

        <p></p>
        <p class="about">
            riceCAD online is a lightweight, computer assisted design tool for minecraft robots.
            You will be able to design a 3d structure on the website by inputting data into a 3d array,
            which will be visible by a playcanvas window. This design can then be exported into minecraft,
            which will be built by robots in the PC version of Minecraft. We have
            designed an API that is used "publicly" by the robots in-game.
        </p>

        <h4 id="authors"> The authors:</h4>

        <div class="about">
            <p>Trenton Young</p>
            <p> Hla Htun</p>
            <p>Cameron Kroeker</p>
            <p>Elisay Kuznetsov</p>
        </div>
    </div>

</body>