<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Posts</a>
        <a href="#">Tutorial</a>
        <a href="#">About</a>
    </div>
        <section class="main-section">
        <!-- Filter  -->
        <div class="filter-container">
            <h2>Filter Settings</h2>
            <form action="/action_page.php">
                <label for="ftag">Tags</label>
               <div id="projectLabelsContainer">
                {{#each tags}}
                    {{> labelCheckbox}}
                {{/each}}
                </div>
             

                <label for="fname">Name</label>
                <input type="text" id="fname"  placeholder="add Name...">

                <label for="download values">Downloads</label>
                <div id = "download_buttons">
                <input type="text" id="fdownloads_min"  placeholder="min">
                <input type="text" id="fdownloads_max"  placeholder="max">
                </div>

                <input id="filterbutton" type="button" value="Submit">
            </form>
        </div>

        <!-- Posts -->

        <section id="posts">

            {{#each projects}}
                {{> projectCard}}
            {{/each}}

        </section>

    </section>
</body>

<footer>

</footer>