<div class="pageNF">
    <div class="pageNF-content">
        <h1 class="pageNF-404-text">404</h1>
        <p class="pageNF-page-not-found-text"> <span class="pageNF-Opps-text">Opps!</span> Page not found.</p>
        <p class="pageNF-explain-text">
            The page you’re looking for doesn’t exist.
        </p>
        <a href="../" class="pageNF-goHome-text">Go Home</a>
    </div>
</div>