<img src="/{{projectID}}.png">
<h1>{{title}}</h1>
<p>{{description}}</p>
<div class="labels">
    {{#each tags}}
        <span>{{> label}}</span>
    {{/each}}
</div>
<div>Downloaded {{downloads}} times</div>
