<body>

<div class="tutorial-container">
    <h1 class="projects-page-tut"> How to use riceCAD to build projects in Minecraft</h1>
    <p></p>
    <p class="projects-page-tut">
        The main functionality provided with the riceCAD website is to import projects built on this website directly
        into minecraft with the use of mods.
    </p>
</div>
<div class="tutorial-container">

    <h1 class="projects-page-tut"> Edit</h1>
    <p></p>
    <p class="projects-page-tut">
        riceCAD online is a lightweight, computer assisted design tool for minecraft robots.
        You will be able to design a 3d structure on the website by inputting data into a 3d array,
        which will be visible by a playcanvas window. This design can then be exported into minecraft,
        which will be built by robots in the PC version of Minecraft.
    </p>
</div>

</body>