<body>

<h1 id="tut-title">Tutorial Page</h1>
<div class="tutorial-container">

    <h1 class="projects-page-tut"> Edit Page</h1>
    <p></p>
    <p class="projects-page-tut">
        This is your basic guide how to use riceCAD's design editor to its fullest
        <h4 id="tut-step"> Placing blocks</h4>
    <div class="img-container">
    <img src="/images/editor/text-editor.png" alt="The array-like text editor">
        This is the text editor, how to actually place blocks for the model. It uses a 3d array system to place blocks where:
    <ul>
        <li>0 = blank space</li>
        <li>1-9 = block (with color corresponding to the material settings)</li>
        <li># = move up in the z axis</li>
    </ul>
        After you're satisfied with your work, you can hit "download changes" to download a .plan file of your design
    </div>

        <h4 id="tut-step"> Viewport Commands</h4>
    <div class="img-container">
    <img src="/images/editor/viewport.png" alt="Visual model of model and viewport settings">
        The viewport provides a live model for you to view your project with many modes of movement to view all aspects of your project
    <p>Controls:</p>
    <ul>
        <li> click + drag = view angle</li>
        <li> W = zoom in</li>
        <li>S = zoom out</li>
        <li>A = pan left</li>
        <li>D = pan right</li>
        <li>0-9 = pre-set camera angles (0 is default)</li>
        <li>shift + [NUMROW number] = creates custom camera angle</li>
    </ul>
    Included is also the settings for the viewport, you're able to change the working plane/background colors, as well as
    change the movement speeds of specific commands.
    You must unlock the viewport before movement is allowed.
    </div>

    <h4 id="tut-step"> Material Commands</h4>
    <div class="img-container">
    <img src="/images/editor/material-settings.png" alt="Image of the material settings">
    Here, you will be able to change the color of any specific number used in the text editor.
    These colors may act as glass for your model
    </div>

    <h4 id="tut-step"> Project Settings blocks</h4>
    <div class="img-container">
    <img src="/images/editor/project-settings.png" alt="Image of project settings">
    Here, various settings dealing with posting your project are presented. You can rename it, give it a description,
    add related tags, and post your projects. You may also upload a .plan file to work on a saved project.
    </p>
    </div>
</div>

<div class="tutorial-container">
    <h1 class="projects-page-tut"> How to use riceCAD to build projects in Minecraft</h1>
    <p></p>
    <p class="projects-page-tut">
        The main functionality provided with the riceCAD website is to import projects built on this website directly
        into Minecraft with the use of mods. There are a few specific things you'll need in order for this to work:</p>
    <ul>
    <li> Minecraft Java Edition (with mods enabled)</li>
    <li> <a href="https://www.curseforge.com/minecraft/mc-mods/opencomputers">OpenComputers</a> Minecraft Mod</li>
    <li> riceBUILD program (coming soon!)</li>
    </ul>

</div>

</div>

</body>