/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2022, 2:56:00 PM
    Author(s)     : Cameron, Kroeker
*/
* {
    box-sizing: border-box;
}
img{
  object-fit:contain;

  min-width: auto;
  min-height: auto;
  max-width: 400px;
  max-height: 250px;
  
  display: inline-block;
}

body{
    margin: 0px;
    font-family: 'VT323', monospace;
    display: inline;
    height: auto;
    width: auto;
    position: relative;
    background-color: rgb(49, 48, 48);
  }

header{
    background-color: rgb(148, 255, 219);
    height: 100px;
    width: 100%;
    position: relative;
    display: inline-block;
  }

#Title{
    position: relative;
    top: 25px;
}
.btn{
    float: right;
    margin-top: -5px;
    /*padding: 25px;*/
    font-size: 40px;
    background-color: rgba(148, 255, 219, 0);
    border: 0px;
}

.btn:hover{

    background-color: rgb(206, 223, 199);
    font-size: 45px;
}

h1{
    display: inline;
    margin: 10px;   
}

/* Style inputs */
input[type=text] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
}
  
/* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 25px;
    letter-spacing: 2px;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #029b63;
}

.main-section {
    display: flex;
}

.filter-container {
    /*position: relative;*/
    display: inline-block;
    min-width: 200px;
    max-width: 250px;
    width: 250px;
    border-radius: 3px;
    margin: 10px 0px 0px 10px;
    padding: 0 20px 20px 10px;
    background-color: rgb(239, 243, 231);
}


#posts{
    margin: 10px 0px 0px 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    width: 80%;
    height: 350px;
}

.post{
    background-color: rgb(206, 223, 199);
    display: inline-block;
    width: 420px;
    height: 370px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

/*adds an empty post if there is uneven number of posts*/
#posts::after {
    content:"";
    width: 420px;
    height: 350px;
    margin-bottom: 15px;
}

.post-contents{
  height: 350px;
  width: 420px;
}

.post-title-position {
    margin-top: 10px;
}

.post-title{
    text-decoration:none;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    color: black;
}

.post-image-container{
    margin: 10px;
    text-align: center;
}

.post-image-container img {
    border: 1px solid black;
    border-radius: 5px;
}

.post-tags-container, .post-info-container {
    margin-left: 15px;
    width: fit-content;
}

.post-tags-container {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    margin-bottom: 5px;
}

.post-tags-container span {
    border-right: 1px solid black;
}

.post-info-container{
  font-size: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}