/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2022, 12:25:39 PM
    Author(s)     : trentonyo, HlaHtun, CameronKroeker
*/
html {
    font-family: 'VT323', monospace;
}

/*riceCAD title*/
#BANNER_TO_REFACTOR {
    padding: 15px;
    background-color: rgb(186, 243, 224);
    margin-bottom: 10px;
}
/*riceCAD title text*/
#BANNER_TO_REFACTOR a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}
#versionNumber {
    font-size: 16px;
    font-style: italic;
}
body {
    background-color: #666;
    margin: 0;
}

#tool_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

#viewport_settings{
    border: 1px solid black;
    border-radius: 10px;
    display:inline-block;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 50px;
    background-color: rgb(186, 243, 224);
    padding-bottom: 5px;
    margin-bottom: 40px;
}

#viewport {
    margin-right: 40px;
    float: left;
}

#viewport_setting {
    padding: 10px;
}

#viewport_settings h2{
    margin-left: 5px;
    font-size: 20px
}
#material_settings_container {
    display: flex;
}

#viewport_settings_form {
    display: inline-block;
}

.form-label {
    padding-right: 5px;
}

.viewport_material_settings {
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
}

/*tweaking the canvas*/
canvas {
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

.content_input {
    width: 250px;
    background-color: rgb(213, 213, 250);
    border-radius: 10px;
}

#content_input_title, #content_file_naming{
    margin-left: 10px;
}

.viewport_settings_form_card, .material-settings-card {
    min-height: 80px;
    max-height: 100px;

    background-color: #f9ffff;

    border: #1c1c21 solid 3px;
    border-radius: 20px;

    padding: 5px;
    margin: 5px;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

#text_editor {
    width: auto;
    background-color: rgb(213, 213, 250);
    margin: 0px 35px 0px 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#text_editor h2 {
    margin-left: 10px;
}

#text_editor_textarea {
    margin-left: 10px;
    letter-spacing: 6px;
    width: 220px;
    height: 200px;
    background-color: rgb(222, 222, 222);
    border-radius: 5px;
    margin-bottom: 10px;
}

#download-changes-button {
    width: 70%;
    padding: 14px 20px;
    display: block;
    margin: 0px 0px 10px 10px;
    background-color: #04AA6D;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    letter-spacing: 1px;
}

#download-changes-button:hover {
    background-color: #03b979;
}

#content_file_naming {
    font-size: 10px;
    padding-bottom: 10px;
}

.filename_button {
    background-color: rgb(178, 179, 179);
    border: solid 1px;
    border-radius: 5px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    font-family: 'VT323', monospace;
}

#material_settings_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#material_settings {
    margin: 0px 40px 40px 5px;
    background-color: rgb(213, 213, 250);
    border: 1px solid black;
    border-radius: 10px;
    max-width: 700px;
}

#material_settings h2 {
    margin-left: 20px;
}

.material-settings-card {
    min-width: 180px;
    max-width: 180px;

    flex-basis: 30%;
    margin-top: 20px;
    min-height: 130px;
    position: relative;
}
.cardbackground, .cardworkingplane {
    left: 20px;
}

.material-settings-card-label {
    width: 30px;
    height: 30px;

    border: #1c1c21 solid 2px;
    border-radius: 10px;

    font-size: 24px;

    background-color: #f9ffff;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    position: absolute;
    top: -15px;
    left: 5px;
    margin-bottom: 10px;
}
input[type="color"]{
    margin-top: 20px;
    border-radius: 5px;
    padding: 0px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px;
    border: 3px solid black;
    border-radius: 5px;
}

/*dont change the first two colorpicker */
.viewport_label {
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-bottom: -5px;
}

.material-settings-card-input {
    width: 115px;
    height: 30px;

    display: inline;

    border: #1c1c21 solid 1px;
    border-radius: 10px;

    text-align: center;
    font-size: 18px;
    font-style: italic;
}
.material-settings-enableGlass {
    width: 110px;
    height: 28px;

    border: #1c1c21 solid 1px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.material-colorpicker {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    margin: 10px 0px;
}

#project_options {
    margin-top: 0px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(186, 243, 224);
    padding-left: 10px;
    padding-bottom: 20px;
    width: 350px;
}
.project-setting-contents {
    margin-top: 30px;
    margin-left: 20px;
}
#project-title-h2, #project-description-label, #upload-plan-file-label {
    font-size: 20px;
}

#projectTitle {
    font-size: 18px;
}

#rename-project-button {
    width: 70%;
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 20px;
}

#rename-project-button:hover {
    background-color: #03b979;
}

#projectDescription {
    margin-top: 5px;
    width: 225px;
    height: 65px;
    border: 1px solid black;
    border-radius: 5px;
}

#projectLabelsContainer {
   margin: 10px 0px;
}

#file-selector {
    width: 70%;
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#file-selector:hover {
    background-color: #03b979;
}

/*publish button*/
#postProject {
    width: 90%;
    color: black;
    font-size: 20px;
}

#postProject:hover {
    background-color: #03b979;
}

.switch {
    position: relative;
    display: inline-block;

    width: 48px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: #1c1c21 solid 1px;
    border-radius: 25px;

    background-color: #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 24px;
    top: 4px;
    left: 4px;

    border-radius: 16px;

    background-color: #f9ffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* to be added with JS */
canvas {
    border: #1c1c21 solid 1px;
}

.disabled {
    color: #666666;
    background-color: #bebeba;
}
.enabled {
    color: #ffffff;
    background-color: #3ab2d8;

    font-style: italic;
}

.unsaved {
    font-style: italic;
    color: #c00;
}
.saved{
    font-style: normal;
    color: #ccffff;
}


/*FROM DEV.CSS*/

* {
    box-sizing: border-box;
}
img{
    object-fit:contain;

    min-width: auto;
    min-height: auto;
    max-width: 400px;
    max-height: 250px;

    display: inline-block;
}

body{
    margin: 0px;
    font-family: 'VT323', monospace;
    display: inline;
    height: auto;
    width: auto;
    position: relative;
    background-color: rgb(49, 48, 48);
}

header{
    background-color: rgb(148, 255, 219);
    height: 100px;
    width: 100%;
    position: relative;
    display: inline-block;
}

#Title{
    position: relative;
    top: 25px;
}
.btn{
    float: right;
    margin-top: -5px;
    /*padding: 25px;*/
    font-size: 40px;
    background-color: rgba(148, 255, 219, 0);
    border: 0px;
}

.btn:hover{

    background-color: rgb(206, 223, 199);
    font-size: 45px;
}

h1{
    display: inline;
    margin: 10px;
}

/* Style inputs */
input[type=text] {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
}

/* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 25px;
    letter-spacing: 2px;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
    background-color: #03b979;
}

.main-section {
    display: flex;
}

.filter-container {
    /*position: relative;*/
    display: inline-block;
    min-width: 200px;
    max-width: 250px;
    width: 250px;
    border-radius: 3px;
    margin: 10px 0px 0px 10px;
    padding: 0 20px 20px 10px;
    background-color: rgb(239, 243, 231);
}


#posts{
    margin: 10px 0px 0px 40px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: 350px;
}

.post{
    background-color: rgb(206, 223, 199);
    display: inline-block;
    width: 420px;
    height: 370px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 28px;
}

.post-contents{
    height: 350px;
    width: 420px;
}

.post-title-position {
    margin-top: 10px;
}

.post-title{
    text-decoration:none;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    color: black;
}

.post-image-container{
    margin: 10px 10px 5px 10px;
    text-align: center;
}

.post-image-container img {
    border: 1px solid black;
    border-radius: 5px;
}

.post-tags-container, .post-info-container {
    margin-left: 45px;
    width: fit-content;
}

.post-tags-container {
    margin-top: 5px;
    margin-bottom: 10px;
}

.project_label {
    display: inline-block;
    padding: 6px;
    border: 2px solid #ffffff;
    border-radius: 18px;
    margin: 3px;
    background-color: #f9ffff;
}

.selected {
    border: 2px solid #000000;
    font-style: italic;
}

.post-info-container{
    font-size: 20px;
    margin-top: -10px;
    margin-left: 50px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.success {
    color: #0a1800;
    border: #0a1800 1px;
    background-color: rgb(200, 236, 171);
}
.failure {
    color: #180000;
    border: #180000 1px;
    background-color: rgb(211, 115, 115);
}

.project_label input {
    display: none;
}

/*.project_label input:checked {*/
/*    display: inline;*/
/*}*/

.about-container {
    background-color: rgb(186, 243, 224);
    display: inline-block;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 10px #000000);
    width: clamp(500px, 50%, 1500px);
}

#about-title{
    background-color: rgb(213, 213, 250);
    margin: 3px 3px 30px 3px;
    border: thick double #0a1800;
}

#about-title:hover {
    filter: drop-shadow(3px 3px 3px #000000);
    cursor: grabbing;
}
